html {
  font: 75% sans-serif;
  overflow-y: scroll;
}
body {
  color: #F00;
  margin: 1em;
  padding: 1em;
}
code, h1, li, p, pre, section, ul {
  color: #000;
}
a {
  color: #66C;
  text-decoration: none;
}
h1 {
  margin: 1em 2em;
}
li {
  margin: 1em;
}
pre {
  margin: 0;
  padding: 1em 0;
}
section {
  border: 0.5em solid #8C8;
  margin: 1em 0;
  padding: 1em;
}
ul {
  font: bold 1.5em sans-serif;
  margin: 1em;
  padding: 0 0 0 1.5em;
}
.fail {
  color: #F00;
}
#swfobject, #highcharts {
  border: 0.5em solid #8C8;
  height:240px;
  margin: 1em 0;
  overflow: hidden;
  width:320px;
}